# fill out this template to enable the gcp backend for state: https://developer.hashicorp.com/terraform/language/settings/backends/gcs
terraform {
  backend "gcs" {
    bucket  = ""
    prefix  = "wormchain-dev.tfstate"
  }
}

# configure the GCP provider: https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference
provider "google" {
  project = ""
  region = ""
  zone = ""
}
